# Core dependencies
attrs
pydantic
boto3
feedparser
Pillow
python-dotenv
requests
tqdm
yt-dlp
browser-cookie3
mypy-boto3-s3
boto3-stubs[s3]
rapidfuzz
unidecode
cachetools
diskcache
yarl
types-tqdm
types-cachetools
types-yt-dlp
types-python-dateutil
lizard
vulture
grimp
networkx
